import(boot)
import(SummarizedExperiment)
import(bibtex)
exportPattern("internal_function")
exportPattern("McpAUC")
exportPattern("TpAUC")
exportPattern("points.curve")
exportPattern("MCpAUCboot")
exportPattern("TpAUCboot")

