import(boot)
import(SummarizedExperiment)
import(fission)
import(methods)
exportPattern("internal_function")
exportPattern("mcpAUC")
exportPattern("tpAUC")
exportPattern("pointsCurve")
exportPattern("mcpAUCboot")
exportPattern("tpAUCboot")

